<template>
  <div class="home">
    <img
      class="w-32 h-32 rounded-full mx-auto"
      alt="Vue logo"
      src="../assets/1530565960075.jpg"
      width="384"
      height="512"
    />
    <HelloWorld msg="Welcome to my interview app" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
