<template>
  <div class="home">
    <Filters />
    <UserList />
  </div>
</template>

<script>
// @ is an alias to /src
import UserList from '@/components/UserList.vue'
import Filters from '@/components/Filters.vue'

export default {
  name: 'UserListPage',
  components: {
    UserList,
    Filters
  }
}
</script>
