<template>
  <div class="flex items-center w-full bg-teal-lighter">
    <div
      class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-xlg md:mx-auto"
    >
      <form class="flex flex-wrap mb-6" action="/" method="post">
        <div class="flex flex-col mb-4">
          <input
            v-model="formValues.name"
            v-on:keyDown="updateFilters"
            class="border py-2 px-3 text-grey-darkest"
            type="text"
            name="name"
            id="name"
            placeholder="Name"
          />
        </div>
        <div class="flex flex-col mb-4">
          <input
            v-model="formValues.email"
            v-on:keyDown="updateFilters"
            class="border py-2 px-3 text-grey-darkest"
            type="text"
            name="email"
            id="email"
            placeholder="email"
          />
        </div>
        <button
          v-on:click.prevent="resetFilters"
          class="block bg-blue-400 hover:bg-blue-600 text-white uppercase text-lg mx-auto p-4 rounded"
          type="submit"
        >
          Reset filters
        </button>
      </form>
      <Sorters />
      <div>{{ filters }}</div>
    </div>
  </div>
</template>

<script>
import Sorters from '@/components/Sorters.vue'

export default {
  data: function () {
    return {
      formValues: {}
    }
  },
  computed: {
    filters () {
      return this.$store.state.filters
    }
  },
  methods: {
    resetFilters (e) {
      e.preventDefault()
      this.$store.dispatch('resetFilters')
    },
    updateFilters () {
      this.$store.dispatch('updateFilters', this.formValues)
    }
  },
  components: { Sorters }
}
</script>
