<template>
  <form class="flex flex-wrap mb-6" action="/" method="post">
    <div class="flex flex-col mb-4">
      <div>
        Name:
        <input
          type="button"
          v-on:click.prevent="sort('name')"
          class="block bg-blue-400 hover:bg-blue-600 text-white uppercase text-sm mx-auto p-4 rounded"
        />
        Email:
        <input
          type="button"
          v-on:click.prevent="sort('email')"
          class="block bg-blue-400 hover:bg-blue-600 text-white uppercase text-sm mx-auto p-4 rounded"
        />
      </div>
      <button
        v-on:click.prevent="resetSorter"
        class="block bg-blue-400 hover:bg-blue-600 text-white uppercase text-sm mx-auto p-4 rounded"
        type="submit"
      >
        Reset sorters
      </button>
    </div>
  </form>
  <div>{{ logSorters }}</div>
</template>

<script>
export default {
  data: function () {
    return {
      currentSort: 'name',
      currentSortDir: 'asc'
    }
  },
  computed: {
    logSorters () {
      return {
        currentSort: this.$store.state.currentSort,
        currentSortDir: this.$store.state.currentSortDir
      }
    }
  },
  methods: {
    sort: function (s) {
      // if s == current sort, reverse
      if (s === this.currentSort) {
        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc'
      }
      this.currentSort = s
    },
    resetSorter (e) {
      e.preventDefault()
      this.$store.dispatch('resetSorter')
    },
    updateSorter () {
      this.$store.dispatch('updateSorter', {
        currentSort: this.currentSort,
        currentSortDir: this.currentSortDir
      })
    }
  }
}
</script>
