<template>
  <div class="lg:flex lg:flex-wrap w-full justify-center">
    <div
      class="lg:flex justify-center min-w-min flex mb-4 md:px-4 lg:px-6"
      v-for="user in filteredUsers"
      v-bind:key="user.uuid"
    >
      <UserItem v-bind:user="user" />
    </div>
    <!--<div>{{ store.getters.filteredUsers }}</div>-->
  </div>
</template>

<script>
// @ is an alias to /src
import UserItem from '@/components/UserItem.vue'
import store from '@/store'

export default {
  name: 'UserListPage',
  components: {
    UserItem
  },
  computed: {
    filteredUsers () {
      const users = []
      if (store.state.currentSort !== 'none') {
        if (store.state.currentSortDir === 'asc') {
          users.push(
            ...store.state.users.sort(
              (a, b) => a[store.state.currentSort] - b[store.state.currentSort]
            )
          )
        }
        if (store.state.currentSortDir === 'desc') {
          users.push(
            ...store.state.users.sort(
              (a, b) => b[store.state.currentSort] - a[store.state.currentSort]
            )
          )
        }
      }
      return users.filter(
        u =>
          u.name
            .toUpperCase()
            .includes(store.state.filters.name.toUpperCase()) &&
          u.email
            .toUpperCase()
            .includes(store.state.filters.email.toUpperCase())
      )
    }
  },
  methods: {}
}
</script>
