<template>
  <figure
    class="min-w-50 md:flex bg-gray-100 rounded-xl p-8 md:p-0 max-w-lg md:hover:shadow-xl"
  >
    <img
      class="w-32 h-32 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto"
      alt=""
      width="384"
      height="512"
      :src="user.profileImage"
    />
    <div class="min-w-min pt-6 md:p-8 text-center md:text-left space-y-4">
      <figcaption class="font-medium">
        <div class="text-cyan-600">
          {{ user.name }}
        </div>
        <div class="text-gray-500">
          {{ user.email }}
        </div>
        <div class="text-gray-500">
          {{ user.uuid }}
        </div>
      </figcaption>
    </div>
  </figure>
</template>

<script>
export default {
  name: 'UserItem',
  props: ['user']
}
</script>
